body{
	font-family:"微软雅黑";
}



/*登录注册*/
#modal-custom .iziModal-content header{
    background: #eee;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
}
#modal-custom .iziModal-content header a{
    display: block;
    float: left;
    width: 50%;
    padding: 30px 25px 25px;
    text-align: center;
    background: #ddd;
    color: #999;
}
#modal-custom .iziModal-content header a.active{
    background: #fff;
    color: #777;
}
#modal-custom .iziModal-content section{
    padding: 30px;
}
#modal-custom .iziModal-content section input:not([type="checkbox"]), #modal-custom .iziModal-content section button{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 26px;
    padding: 15px;
    font-size: 14px;
}
#modal-custom .iziModal-content section input:focus{
    border-color:#28CA97;
}
#modal-custom .iziModal-content section label[for="check"]{
    margin-bottom: 26px;
    font-size: 14px;
    color: #999;
    display: block;
}
#modal-custom .iziModal-content section footer{
    overflow: hidden;
}
#modal-custom .iziModal-content section button{
    background: #28CA97;
    color: white;
    margin: 0;
    border: 0;
    cursor: pointer;
    width: 50%;
    float: left;
}
#modal-custom .iziModal-content section button:hover{
    opacity: 0.8;
}
#modal-custom .iziModal-content section button:nth-child(1){
    border-radius: 3px 0 0 3px;
    background: #aaa;
}
#modal-custom .iziModal-content section button:nth-child(2){
    border-radius: 0 3px 3px 0;
}

#modal-custom .iziModal-content .icon-close{
    background: #FFF;
    margin-bottom: 10px;
    position: absolute;
    right: -8px;
    top: -8px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 0;
    color: #a9a9a9;
    cursor: pointer;
}
#modal-custom .iziModal-content .icon-close:hover, #modal-custom .iziModal-content .icon-close:focus{
  color: black;
}


/*banner*/
#banner{
	margin: 70px auto;
}

/*登录注册*/

#book-type{
	font-size: 25px;
}
/*书类型*/
#book-type ul{
	margin: 30px auto;
	list-style: none;
}
#book-type ul li{
	float: left;
	margin: 10px 10px;
}
/*排行榜*/
#rank ul{
	border-left: 1px solid #EBEBEB;
	list-style: none;
	font-size: 18px;
}
#rank ul li{
	display: block;
	border-bottom: 1px solid #EBEBEB;
	margin: 10px auto;
}
#rank ul li a{
	margin: 0 15px;
}
#rank ul li span{
	color: #BBBBBB;
	float: right;
}

/*书卡片*/
.book-card{
	max-height:260px;
	margin:20px auto;
}
.book-card:hover{
	cursor:pointer;
	box-shadow: 0 0 1px 0px rgba(55,55,55,0.8);
}
.book-card img{
	width: 80px;
	height:110px;
}

